#app {
    background: linear-gradient(to bottom, #429488 20%, #dcdbd3 0%);
    height: 100vh;
    padding-top: 40px;
    font-family: Helvetica, Arial, sans-serif;
}

/* class utility */
.box-side {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

/* -------------------------------------- */
.view-container {
    height: calc(100vh - 80px);
    background-color: #fff;
    /* overflow: hidden; */
}

aside {
    height: 100%;
}

main {
    height: 100%;
}
/* -- SIDE BAR ------------- */

/* user */
.user {
    justify-content: space-between;
    background-color: #eaeaea;
}

.user-account {
    display: flex;
    align-items: center;
}

.user-img {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

.user-img img {
    width: 100%;
}

.user-icons i {
    margin: 0 2px;
    color: #b1b1b1;
}

/* notifiche */
.notif {
    background-color: #9fd8f8;
}

.notif .notif-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notif .notif-icon i {
    color: #9fd8f8;
}

.notif .notif-text {
    font-size: 14px;
    padding-left: 6px;
}

.notif .notif-text a {
    color: #777;
    font-size: 12px;
}

/* input area */
.input-area-container {
    padding: 6px;
    background-color: #fafafa;
}
.input-area {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    height: 40px;
}

.input-area i {
    margin: 0 6px;
    color: #b1b1b1;
}

.input-area input {
    width: 85%;
    border: none;
}

.input-area input::placeholder{
    font-size: 12px;
}

/* contacts */
.contacts-container {
    background-color: #fafafa;
    padding-right: 6px;
    height: calc(100% - 160px);
}

.contacts {
    overflow-y: auto;
    background-color: #fff;
    border-right: 1px groove #fafafa;
    height: 100%;
    display: block;
}

.contacts .contact {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.contacts .contact:hover {
    background-color: #e8ebeb;
}

.contacts .contact:first-child {
    border-top: none
}

/* -- MAIN ------------- */

/* topbar */
.info-contact {
    background-color: #eaeaea;
    border-left: 1px solid #b1b1b1;

}

.info-contact-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.info-contact-icons {
    min-width: 60px;
}

.user-name {
    font-weight: 500;
    font-size: 16px;
}

.info-contact-text .access {
    color: #777;
    font-size: 12px;
}

/* message area */
.message-area {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 110px);
    overflow-y: scroll;
    
}

.message {
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    position: relative;
}

.sent {
    justify-content: flex-end;
}

.sent .message{
    background-color: #DCF8BF;
    margin-right: 24px;
}

.received .message {
    background-color: #fff;
    margin-left: 24px;
}

.message-date {
    position: absolute;
    bottom: 3px;
    right: 9px;
    color: #777;
    font-size: 10px;
}

/* text-area */
.text-area .user-icons i {
    flex-grow: 1;
}

.text-area .text-message {
    flex-basis: 90%;
}

.text-area textarea {
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    width: 100%;
}

.text-area textarea:placeholder-shown {
    font-size: 14px;
}
