<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>boolZapp</title>
</head>
<body>
    <div id="app">
        <div class="container view-container">
            <div class="row view-container">

                <!-- side bar -->
                <aside class="col-6 col-sm-5 col-md-4 p-0">

                    <!-- user -->
                    <div class="user box-side">

                        <div class="user-account">
                            <div class="user-img">
                                <img src="./img/avatar_8.jpg" alt="user image">
                            </div>
                            <div class="user-name">
                                Vincenzo
                            </div>
                        </div>

                        <div class="user-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- notif -->
                    <div class="notif box-side">
                        <div>
                            <div class="notif-icon">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                        </div>

                        <div class="notif-text">
                            <div class="notif-text-title">Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- input area -->
                    <div class="input-area-container">
                        <div class="input-area">
                            <i class="fas fa-search"></i>
                            <input v-model="search" placeholder="Cerca o inizia una nuova chat" type="text">
                        </div>
                    </div>

                    <!-- conctacs -->
                    <div class="contacts-container">
                        <div class="contacts overflow-auto">
                            <div v-for="(contact, index) in contacts" v-if="searchContact(index)" @click="selectChat(index)" class="contact box-side">
                                <div class="user-img">
                                    <img :src="urlImg(index)" alt="">
                                </div>
                                <div class="name-contact">
                                    {{ contact.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <!-- corpo principale per i messaggi -->
                <main class="col-6 col-sm-7 col-md-8 p-0">

                    <!-- topbar -->
                    <div class="info-contact box-side justify-content-between">
                        <div class="info-contact-name">
                            <div class="user-img">
                                <img :src="urlImgTop()" alt="image contact">
                            </div>

                            <div class="info-contact-text">
                                <div class="user-name">{{ contacts[contactIndex].name }}</div>
                                <div class="access">Ultimo accesso oggi alle</div>
                            </div>
                        </div>

                        <div class="user-icons info-contact-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>

                    <!-- spazio messaggi -->
                    <div class="message-area container">
                        <div v-for="message in printChat()"  class="row" :class="message.status">
                            <div class="col-8 col-md-6 col-lg-5 message">
                                <div class="message-text">{{ message.text }}</div>
                                <div class="message-date">{{ message.date }}</div>
                            </div>
                        </div>
                    </div>

                    <!-- text-area -->
                    <div class="text-area info-contact box-side justify-content-between">
                        <div class="user-icons">
                            <i class="far fa-smile"></i>
                        </div>

                        <div class="text-message">
                            <input v-model="textMessage" @keyup.enter="sendMessage()" placeholder="Scrivi un messaggio" type="text">
                
                        </div>

                        <div class="user-icons">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>